.wrapper {
  background-color: #374b74;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header,
section {
  min-height: 100vh;
}

h1 {
  text-decoration: underline;
}
